.activeDeployments {
    height: 85%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 15%;
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: rgb(169, 255, 255); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .dataDisplay{
    height: 85%; /* Full-height: remove this if you want "auto" height */
    width: 80%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 15%;
    z-index: 1; /* Stay on top */
    left: 20%;
    overflow-x: hidden; /* Disable horizontal scroll */

  }

  .tab-list{
    padding:0;
    margin:0;
    list-style-type: none;
    overflow: hidden;
    position:relative;
  }

  .tab-content{
    border-style: solid;
    border-color: rgb(169, 255, 255);
    position: absolute;
    width:100%;
    height:calc(100% - 60px);;
    padding:0;
    margin:0;
      text-align: center;
  }

  .tab{
    list-style-type: none;
    float:left;
    display: block;
    padding: 16px;
    height:20px;
  text-decoration: none;
  }

  .active{
    background-color: rgb(169, 255, 255);
  }

  .tab:hover{
    background-color: rgb(169, 255, 255);
  }

  


  button{
    border-style: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:12px
  }

  .buoy button{
    background-color: aliceblue;
    border-color: aliceblue;

  }

  .buoy button:hover{
    background-color: rgb(169, 255, 255);
  }

  .dataVis button{
    background-color: rgb(169, 255, 255);
    border-color: rgb(169, 255, 255);
  }

  .dataVis button:hover{
    background-color: aliceblue;
  }


  .dataHeader{
    position: relative;
    top:0;
    height: 15%;
  }
  .dataContent{
    position: absolute;
    height:85%;
    width:100%;
    display: grid;
  }


 .overview-vis{
    width:50%;
    height:100%;
    overflow-y:auto;
    position:absolute;
    /*overflow-y:scroll;
    height:100%;
    margin:0;
    padding:0;
    display: flex;*/

  }

  .request-display{
    left:50%;
    width:50%;
    position:absolute;
    top:50%;
    height:50%;
    overflow-y: scroll;
    text-align: center;
    border-style:solid;
    padding:0;
  }

  .deploymentDetails-display{
    left:50%;
    width:50%;
    position:absolute;
    top:0;
    height:50%;
    overflow-y: scroll;
    text-align: center;
    border-style:solid;
    padding:0;
    display: flex;
  }

  .timeline{
    width:100%;
    height:50%;
    overflow-y:auto;
    position:absolute;
  }

  .detailed-detections{
    width:100%;
    position:absolute;
    top:50%;
    height:50%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
   
  }

  .detectioncontainer{
    position:relative;
    width:100%;
    height:300px;
   
    
  }

  .detection{
    
    height:100%;
    width:100%;
    display: inline-block;
    
  }

  .detection-contour{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
  }

  .bearing{
    position:absolute;
    width:100px;
    height:100px;
    right:10%;
    top:100px;
  }